#Lektion 10

# While loop = ett påstående som t.ex "if statement" kommer genomföra sin understående kod så länge villkoren stämmer.
# Man kommer vilja ha ett sätt att stoppa en "while loop" så att den inte blir en oändlig loop.


#               Exempel 1

# Här kommer en kodens understående kod att köras oändligt många gånger eftersom att påståendet stämmer hela tiden.
 while 1==1:
      print("Oändlig loop")


#               Exempel 2

# Genom att att använda "while statement" kan vi få koden att aldrig sluta repitera sammma fråga innan den får ett svar på den fråga som ställts!
# Eftersom att variabeln "namn" redan innan själva "while statement" är ingenting så kommer koden att köra den underliggande koden.
# Efter att ett svar som innehåller minst en bokstav skrivs in kommer loopen sluta.
namn = ""
while len(namn) == 0:
     namn = input("Vad heter du?: ")

print("Du heter "+namn+"!")
